extends base.pug

block scripts
  script(src='/static/index.js')

block style 
    style
      include ../static/style.css
      include ../static/styleAbout.css


block content 
   h1 We are The Dance Haven Team!
    
    div.card-box
        div.card-img
            img(src="/static/teacher1.JPG")
         
        div.card-content 
            div.write     <h2 class="buda">LIMA SAHA (Ballroom Specialist)</h2>Dance like you never gonna stop  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat ab nobis officiis odio quaerat a, tenetur dolor unde libero aliquid. Sed ipsum soluta delectus numquam.  Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem reiciendis in, rem quae sapiente, ea reprehenderit impedit at ex officiis hic asperiores sed quidem ipsa voluptates. Ad vero accusantium nisi! Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio suscipit qui saepe eos aut excepturi dolor accusamus voluptatum nemo libero quis aperiam ullam modi delectus ab, nam itaque? Ipsum, alias? Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque accusamus earum distinctio aut dolores magni, corrupti eveniet error in nemo ullam, ratione voluptatem. Harum rem, aspernatur aperiam corrupti sunt ex voluptas consequatur quis, ipsum aut consequuntur odit deserunt quibusdam voluptatum. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptates, accusantium? Neque autem perferendis tempore eum! Repudiandae sint minima, ab quisquam esse quam perspiciatis dolore beatae asperiores ipsum harum ducimus inventore iure accusantium? Nam aperiam omnis excepturi a voluptatem sunt ratione. Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem doloribus vel fugit eos rerum beatae nostrum sed! Ea, corrupti similique et, nulla possimus doloribus minima alias doloremque porro modi magnam explicabo maxime non. Tenetur vel quos laboriosam eos numquam alias! 
     
    div.card-box
        div.card-img
            img(src="/static/teacher2.JPG")
         
        div.card-content 
            div.write     <h2 class="buda">LIPA SAHA (Bharatanatyam  Specialist)</h2>Dance like you never gonna stop  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat ab nobis officiis odio quaerat a, tenetur dolor unde libero aliquid. Sed ipsum soluta delectus numquam.  Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem reiciendis in, rem quae sapiente, ea reprehenderit impedit at ex officiis hic asperiores sed quidem ipsa voluptates. Ad vero accusantium nisi! Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio suscipit qui saepe eos aut excepturi dolor accusamus voluptatum nemo libero quis aperiam ullam modi delectus ab, nam itaque? Ipsum, alias? Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque accusamus earum distinctio aut dolores magni, corrupti eveniet error in nemo ullam, ratione voluptatem. Harum rem, aspernatur aperiam corrupti sunt ex voluptas consequatur quis, ipsum aut consequuntur odit deserunt quibusdam voluptatum. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptates, accusantium? Neque autem perferendis tempore eum! Repudiandae sint minima, ab quisquam esse quam perspiciatis dolore beatae asperiores ipsum harum ducimus inventore iure accusantium? Nam aperiam omnis excepturi a voluptatem sunt ratione. Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem doloribus vel fugit eos rerum beatae nostrum sed! Ea, corrupti similique et, nulla possimus doloribus minima alias doloremque porro modi magnam explicabo maxime non. Tenetur vel quos laboriosam eos numquam alias! 
     
    div.card-box
        div.card-img
            img(src="/static/teacher3.JPG")
         
        div.card-content 
            div.write     <h2 class="buda">JOYA SAHA (Folk Dance Specialist)</h2>Dance like you never gonna stop  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat ab nobis officiis odio quaerat a, tenetur dolor unde libero aliquid. Sed ipsum soluta delectus numquam.  Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem reiciendis in, rem quae sapiente, ea reprehenderit impedit at ex officiis hic asperiores sed quidem ipsa voluptates. Ad vero accusantium nisi! Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio suscipit qui saepe eos aut excepturi dolor accusamus voluptatum nemo libero quis aperiam ullam modi delectus ab, nam itaque? Ipsum, alias? Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque accusamus earum distinctio aut dolores magni, corrupti eveniet error in nemo ullam, ratione voluptatem. Harum rem, aspernatur aperiam corrupti sunt ex voluptas consequatur quis, ipsum aut consequuntur odit deserunt quibusdam voluptatum. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptates, accusantium? Neque autem perferendis tempore eum! Repudiandae sint minima, ab quisquam esse quam perspiciatis dolore beatae asperiores ipsum harum ducimus inventore iure accusantium? Nam aperiam omnis excepturi a voluptatem sunt ratione. Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem doloribus vel fugit eos rerum beatae nostrum sed! Ea, corrupti similique et, nulla possimus doloribus minima alias doloremque porro modi magnam explicabo maxime non. Tenetur vel quos laboriosam eos numquam alias! 
     
    div.card-box
        div.card-img
            img(src="/static/teacher4.JPG")
         
        div.card-content 
            div.write     <h2 class="buda">TURZO SAHA (Tap Dance Specialist)</h2>Dance like you never gonna stop  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat ab nobis officiis odio quaerat a, tenetur dolor unde libero aliquid. Sed ipsum soluta delectus numquam.  Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem reiciendis in, rem quae sapiente, ea reprehenderit impedit at ex officiis hic asperiores sed quidem ipsa voluptates. Ad vero accusantium nisi! Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio suscipit qui saepe eos aut excepturi dolor accusamus voluptatum nemo libero quis aperiam ullam modi delectus ab, nam itaque? Ipsum, alias? Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque accusamus earum distinctio aut dolores magni, corrupti eveniet error in nemo ullam, ratione voluptatem. Harum rem, aspernatur aperiam corrupti sunt ex voluptas consequatur quis, ipsum aut consequuntur odit deserunt quibusdam voluptatum. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptates, accusantium? Neque autem perferendis tempore eum! Repudiandae sint minima, ab quisquam esse quam perspiciatis dolore beatae asperiores ipsum harum ducimus inventore iure accusantium? Nam aperiam omnis excepturi a voluptatem sunt ratione. Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem doloribus vel fugit eos rerum beatae nostrum sed! Ea, corrupti similique et, nulla possimus doloribus minima alias doloremque porro modi magnam explicabo maxime non. Tenetur vel quos laboriosam eos numquam alias! 
     
    div.card-box
        div.card-img
            img(src="/static/teacher5.jpg")
         
        div.card-content 
            div.write     <h2 class="buda">ASHRAFUN ANANNA (Hip Hop Specialist)</h2>Dance like you never gonna stop  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat ab nobis officiis odio quaerat a, tenetur dolor unde libero aliquid. Sed ipsum soluta delectus numquam.  Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem reiciendis in, rem quae sapiente, ea reprehenderit impedit at ex officiis hic asperiores sed quidem ipsa voluptates. Ad vero accusantium nisi! Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio suscipit qui saepe eos aut excepturi dolor accusamus voluptatum nemo libero quis aperiam ullam modi delectus ab, nam itaque? Ipsum, alias? Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque accusamus earum distinctio aut dolores magni, corrupti eveniet error in nemo ullam, ratione voluptatem. Harum rem, aspernatur aperiam corrupti sunt ex voluptas consequatur quis, ipsum aut consequuntur odit deserunt quibusdam voluptatum. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptates, accusantium? Neque autem perferendis tempore eum! Repudiandae sint minima, ab quisquam esse quam perspiciatis dolore beatae asperiores ipsum harum ducimus inventore iure accusantium? Nam aperiam omnis excepturi a voluptatem sunt ratione. Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem doloribus vel fugit eos rerum beatae nostrum sed! Ea, corrupti similique et, nulla possimus doloribus minima alias doloremque porro modi magnam explicabo maxime non. Tenetur vel quos laboriosam eos numquam alias! 
     
    div.card-box
        div.card-img
            img(src="/static/teacher6.jpg")
         
        div.card-content 
            div.write     <h2 class="buda">MD TOUFIC (Irish Dance Specialist)</h2>Dance like you never gonna stop  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat ab nobis officiis odio quaerat a, tenetur dolor unde libero aliquid. Sed ipsum soluta delectus numquam.  Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem reiciendis in, rem quae sapiente, ea reprehenderit impedit at ex officiis hic asperiores sed quidem ipsa voluptates. Ad vero accusantium nisi! Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio suscipit qui saepe eos aut excepturi dolor accusamus voluptatum nemo libero quis aperiam ullam modi delectus ab, nam itaque? Ipsum, alias? Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque accusamus earum distinctio aut dolores magni, corrupti eveniet error in nemo ullam, ratione voluptatem. Harum rem, aspernatur aperiam corrupti sunt ex voluptas consequatur quis, ipsum aut consequuntur odit deserunt quibusdam voluptatum. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptates, accusantium? Neque autem perferendis tempore eum! Repudiandae sint minima, ab quisquam esse quam perspiciatis dolore beatae asperiores ipsum harum ducimus inventore iure accusantium? Nam aperiam omnis excepturi a voluptatem sunt ratione. Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem doloribus vel fugit eos rerum beatae nostrum sed! Ea, corrupti similique et, nulla possimus doloribus minima alias doloremque porro modi magnam explicabo maxime non. Tenetur vel quos laboriosam eos numquam alias! 
     
   