extends base.pug

block scripts
  script(src='/static/index.js')

block style 
    style
      include ../static/style.css
      include ../static/styleClassInfo.css


block content 
  div.container 
    h1 Class Schedule
    div.container2 
       <h2>Ballroom Dance Schedule</h2>
       <ul class="ulClass">
           li.liClass Sunday at 9:00am.
           li.liClass Tuesday at 9:00am.
           li.liClass Thursday at 9:00am.
  
       </ul>
       <h2>Bharatanatyam Dance Schedule</h2>
       <ul class="ulClass">
           li.liClass Sunday at 10:00am.
           li.liClass Tuesday at 10:00am.
           li.liClass Thursday at 10:00am.
          
       </ul>

    div.container3   
       <h2>Folk Dance Schedule</h2>
       <ul class="ulClass">
           li.liClass Sunday at 11:00am.
           li.liClass Tuesday at 11:00am.
           li.liClass Thursday at 11:00am.
      
         
       </ul>
       <h2>Tap Dance Schedule</h2>
       <ul class="ulClass">
           li.liClass Saturday at 11:00am.
           li.liClass Monday at 11:00am.
           li.liClass Wednesday at 11:00am.
         
       </ul>
       <h2>Hip Hop Schedule</h2>
       <ul class="ulClass">
           li.liClass Saturday at 9:00am.
           li.liClass Monday at 9:00am.
           li.liClass Wednesday at 9:00am.
         
       </ul>
       <h2>Irish Schedule</h2>
       <ul class="ulClass">
           li.liClass Saturday at 10:00am.
           li.liClass Monday at 10:00am.
           li.liClass Wednesday at 10:00am.
         
       </ul>
